{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">{{ titulo }}</h3>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
      {{ form|crispy }}
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success">Salvar</button>
      <a href="{% url 'chamados:listar_chamados' %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}