{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card card-danger">
                <div class="card-header"><h3 class="card-title">Chamados por Status</h3></div>
                <div class="card-body">
                    <canvas id="statusChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card card-success">
                <div class="card-header"><h3 class="card-title">Chamados por Categoria</h3></div>
                <div class="card-body">
                    <canvas id="categoriaChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
            </div>
        </div>
        </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>

<script>
$(function () {
  // --- Gráfico de Status (Doughnut) --- (sem alteração)
  var statusLabels = {{ labels_status|safe }};
  var statusData = {{ data_status|safe }};
  var donutChartCanvas = $('#statusChart').get(0).getContext('2d');
  var donutData = {
    labels: statusLabels,
    datasets: [{ data: statusData, backgroundColor : ['#00c0ef', '#f39c12', '#00a65a'], }]
  };
  new Chart(donutChartCanvas, { type: 'doughnut', data: donutData, options: { maintainAspectRatio : false, responsive : true }});


  var categoriaLabels = {{ labels_categoria|safe }};
  var categoriaData = {{ data_categoria|safe }};
  var barChartCanvas = $('#categoriaChart').get(0).getContext('2d');
  var barChartData = {
      labels: categoriaLabels,
      datasets: [{
          label: 'Total de Chamados',
          backgroundColor: 'rgba(60,141,188,0.9)',
          borderColor: 'rgba(60,141,188,0.8)',
          pointRadius: false,
          pointColor: '#3b8bba',
          pointStrokeColor: 'rgba(60,141,188,1)',
          pointHighlightFill: '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data: categoriaData
      }]
  };
  var barChartOptions = {
    responsive: true,
    maintainAspectRatio: false,
    datasetFill: false,
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true,
                stepSize: 1 // Força o eixo Y a usar apenas números inteiros
            }
        }]
    }
  }
  new Chart(barChartCanvas, { type: 'bar', data: barChartData, options: barChartOptions });

});
</script>
{% endblock %}